Notebook*2.0/.obsidian/workspace
Notebook 2.0/.obsidian/app.json
Notebook 2.0/.obsidian/appearance.json
Notebook 2.0/.obsidian/community-plugins.json
Notebook 2.0/.obsidian/core-plugins.json
Notebook 2.0/.obsidian/hotkeys.json

.DS_Store
Notebook LaTEX/.DS_Store
Notebook LaTEX/Proposal/.DS_Store
Notebook LaTEX/Proposal/presets/.DS_Store
Notebook LaTEX/R-WAPG/.DS_Store
Notebook LaTEX/R-WAPG/presets/.DS_Store
